{
  "sourceMaps": true,
  "presets": [
    "@babel/preset-env",
  ],
  "plugins": [
    "@babel/plugin-syntax-jsx",
    ["@babel/plugin-transform-react-jsx",{ "pragma": "h" }],
    ["@babel/plugin-transform-react-display-name"],
  ]
}

