$body-background-color: #1B2838;
$text: #fff;
$title-color: #fff;
$family-primary: Arial, Helvetica, sans-serif;
$body-size: 13px;
$radius: 0;
$radius-small: 0;
$radius-large: 0;
$section-padding: 3rem 0;

$input-background-color: #B2C4DB;
$input-border-color: darken($input-background-color, 15%);
